/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 12, 2016, 9:23:26 PM
    Author     : Nabin
*/

body{
    background-image: url('img/wooden.jpg');
}
.title{
    text-align: center;
    font-weight:bold;
    color: blue;
    background-color:#ffcccc;
    border:2px solid Red;
}
.back{
    float: left;
    margin-left: 1%;
}
.message{
    text-align: center;
    border:2px solid blueviolet;
    margin-left: 2%;
    margin-right:2%;
    margin-top: 2%;
    font-size: 14pt;
    border-radius: 20px;
}
.bottom{
    text-align: center;
    border:2px solid black;
    margin-top: 5px;
}